body {
    margin: 0;
}
.container {
    flex-wrap: wrap;
    border: 6px solid black;
    display: flex;
}
.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1:nth-of-type(odd){
    background-color: #B4BF35;
}
.item-1:nth-of-type(even){
    background-color: #B95F21;
}
.ukuran{
    flex-basis: 5%;;
}